* {
    margin: 0;
    padding: 0;
}

.w-slider {
    width: 310px;
    height: 265px;
    margin: 50px auto;
}
.slider {
    width: 100%;
    height: 220px;
    background-color: red;
}
.slider-page {
    width: 100%;
    height: 45px;
    background-color: blue;
}