<dl class="author">
    <dt>本周推荐</dt>
    <dd ng-repeat="author in authors">
        <div class="avatar">
            <img src="{{author.avatar}}" alt="">
        </div>
        <div class="info">
            <h5>{{author.name}}</h5>
            <p>{{author.alt}}</p>
        </div>
    </dd>
    <dt>热门作者</dt>
    <dd ng-repeat="author in authors">
        <div class="avatar">
            <img src="{{author.avatar}}" alt="">
        </div>
        <div class="info">
            <h5>{{author.name}}</h5>
            <p>{{author.alt}}</p>
        </div>
    </dd>
</dl>